#!/bin/bash
# automatic update of flake inputs

# only update inputs that are _not_ of the "path" type
# shellcheck disable=2207
validInputs=(
  $(
    jq --raw-output '
      .nodes as $nodes
      | $nodes
      | with_entries(
          select($nodes.root.inputs[] == .key and .value.locked.type != "path")
        )
      | keys[]
    ' flake.lock
  )
)

set -x
nix flake update "${validInputs[@]}" \
  --override-input nixpkgs nixpkgs \
  --override-input fenix fenix
set +x

# vim: ft=sh:
