#!/bin/bash
# automatic update of flake inputs

# remove inputs that are uninitialized submodules
# shellcheck disable=2207
validInputs=( $(comm -23 \
  <(nix flake metadata --json | jq --raw-output '.locks.nodes.root.inputs | keys[]') \
  <(git submodule | grep '^-' | cut -d' ' -f2) \
) )

nix flake update "${validInputs[@]}" \
  --override-input nixpkgs nixpkgs \
  --override-input fenix fenix

# vim: ft=sh:
