[submodule "hydra-check"]
	path = hydra-check
	url = https://github.com/bryango/hydra-check.git
[submodule "wifipem"]
	path = wifipem
	url = https://github.com/bryango/wifipem.git
[submodule "xinput-json"]
	path = xinput-json
	url = https://github.com/bryango/xinput-json.git
