[submodule "hydra-check"]
	path = hydra-check
	url = git@github.com:bryango/hydra-check.git
[submodule "wifipem"]
	path = wifipem
	url = git@github.com:bryango/wifipem.git
[submodule "xinput-json"]
	path = xinput-json
	url = git@github.com:bryango/xinput-json.git
[submodule "darwin/Ice"]
	path = darwin/Ice
	url = https://github.com/jordanbaird/Ice.git
[submodule "darwin/AltTab"]
	path = darwin/AltTab
	url = https://github.com/lwouis/alt-tab-macos.git
[submodule "darwin/MiddleClick"]
	path = darwin/MiddleClick
	url = https://github.com/artginzburg/MiddleClick.git
